{% extends "main.html" %}
{% block content %}
{% include "sidebar.html" %}
<div class="main">
{% include "flashBar.html" %}
<h1> {{animal_class.name}} currently onboard </h1>
<b> Created by: </b> {{creator.name}} <br>
{% if creator.id == user_id %}
<button onclick ="window.location.href ='/classes/{{animal_class.id}}/edit';"> Edit Class</button>
<button onclick ="window.location.href ='/classes/{{animal_class.id}}/delete';"> Delete Class</button>
{% endif %}
<button onclick ="window.location.href ='/classes/{{animal_class.id}}/family/new';"> Add {{animal_class.name}}</button>
<div class = "family-container">
{% for i in class_family %}
<div class = "family-item">
<button onclick ="window.location.href ='/classes/{{animal_class.id}}/family/{{i.id}}/edit';"> Edit </button>
<button onclick ="window.location.href ='/classes/{{animal_class.id}}/family/{{i.id}}/delete';"> Delete </button>
<h3>{{i.name}}</h3>
<b>Created by User: </b> #{{i.user_id}} <br>
<b>Description:</b> {{i.description}} <br>
<b>Distinctive features:</b> {{i.distinctive_feature}} <br>
<b>Quanity:</b> {{i.quantity_on_board}} </br>
<b>Reproduction ensured?</b> {{i.male_female}} </br>
</div>
{% endfor %}

</div>
</div>
{% endblock %}
