{% extends "main.html" %}
{% block content %}
{% include "sidebar.html" %}
<div class="main">

<h1> Delete Family: {{animal_family.name}} </h1>
<button onclick ="window.location.href ='/classes/{{animal_class_id}}/family/';"> Cancel</button>

<div class="family-item">
<b>Name:</b> {{animal_family.name}} <br>
<b>Description:</b> {{animal_family.description}} <br>
<form action="{{ url_for('deleteAnimalFamily', animal_class_id = animal_class_id, animal_family_id = animal_family_id)}}" method = 'post'>

<input type='submit' value='Delete'>

</form>
</div>
</div>
{% endblock %}
